/* elements */
body {
    margin: 0;
}

h1{
    font-family: "Bradley Hand";
    font-size: 80px;
    color: rgb(53, 63, 151);
    text-shadow: 5px 5px 5px;
    transition-property: font-size, color;
    transition: 3s ease;
}

h1:hover{
   font-size: 200px;
   color: aqua;
}

img{
    transition: 3s;
    width: 300px;
    height: auto;
    margin: 0 auto;
}

img:hover{
    -webkit-filter: none;
}

/* class */
.messages{
    background-color: #808000;
    height: 300px;
    border-top: solid 20px rgb(90, 163, 223);
    border-left: solid 20px rgb(231, 229, 116);
    border-bottom: solid 20px rgb(153, 231, 108);
    border-right: solid 20px rgb(103, 235, 180);
}

.myContent div{
    background-color: #5f5f5f;
    border: 20px solid #5f5f5f;
    /* padding-: darkgray; */
}

.photo {
    -webkit-filter: blur(10px) brightness(0) grayscale(1) contrast(0.24);
}

.textArea{
    padding-top: 50px;
}

.textArea:before{
    content: "";
    height: 0;
    width: 0;
    /* border-top: solid transparent 50px; */
    border-left: solid transparent 50px;
    border-bottom: solid transparent 50px;
    border-right: solid 50px white;
    position: relative;
    left: 2px;
    top: -100px;
}

.vistor{
   background-color: grey;
   border: 20px solid gray;
}

.vistor:after{
    content: "";
    display: block;
    clear: both;
}

.vistor div{
    float: left;
}